.btn-icon {
  margin-left: 0.5rem;
}

.outer-container {
  display: inline;
}

.name-container {
  display: flex;
  justify-content: center;
}

.name-bold {
  font-weight: bolder;
  color: #261aa8;
}
