<div class="table-title-container">
    <h1 class="lead table-title">List of Matches</h1>
</div>
<table [striped]="true" cTable color="dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Match ID</th>
            <th scope="col">Driver</th>
            <th scope="col">Ride A</th>
            <th scope="col">Ride B</th>
            <th scope="col"><fa-icon [icon]="faClock"></fa-icon><span class="matches-title">Match</span></th>
            <th scope="col"><fa-icon [icon]="faClock"></fa-icon><span class="matches-title">Confirm</span></th>
            <th scope="col"><fa-icon [icon]="faClock"></fa-icon><span class="matches-title">Start</span></th>
            <th scope="col"><fa-icon [icon]="faClock"></fa-icon><span class="matches-title">End</span></th>
            <th scope="col"><fa-icon [icon]="faClock"></fa-icon><span class="matches-title">Reject</span></th>
            <th scope="col"><fa-icon [icon]="faClock"></fa-icon><span class="matches-title">Cancel</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tableData; let i = index">
            <th scope="row">
                {{ i + 1 }}</th>
            <td><button cButton color="light" (click)="navigateToMatch(data.match_id)">{{ data.match_id }}</button>
            </td>
            <td>{{ data.driver_id }}</td>
            <td>{{ data.rideIds[0] }}</td>
            <td>{{ data.rideIds[1]}}</td>
            <td>{{ data.match_time !== '-' ? (data.match_time | date: 'yyyy-MM-dd HH:mm') : '-' }}</td>
            <td>{{ data.match_time !== '-' ? (data.match_time | date: 'yyyy-MM-dd HH:mm') : '-' }}</td>
            <td>{{ data.start_time !== '-' ? (data.start_time | date: 'yyyy-MM-dd HH:mm') : '-' }}</td>
            <td>{{ data.end_time !== '-' ? (data.end_time | date: 'yyyy-MM-dd HH:mm') : '-' }}</td>
            <td>{{ data.reject_time !== '-' ? (data.reject_time | date: 'yyyy-MM-dd HH:mm') : '-' }}</td>
            <td>{{ data.cancel_time !== '-' ? (data.cancel_time | date: 'yyyy-MM-dd HH:mm') : '-' }}</td>
        </tr>
    </tbody>
</table>