.table-title-container {
  display: flex;
  margin-bottom: 1rem;
}

.table-title {
  margin: 0 auto;
}

.header-btn-container {
  display: flex;
}

.create-match-btn-container {
  margin-left: auto;
  margin-bottom: 0.8rem;
}

.matches-title {
  margin-left: 0.4rem;
}

.btn-icon {
  margin-left: 0.5rem;
  color: white;
}
