<div class="outer-container">
    <div class="name-container">
        <p class='subtitle lead'>Driver: <span class="name-bold">{{this.driverName}}</span></p>
    </div>
</div>

<c-nav class="flex-column flex-sm-row" role="navigation" variant="tabs">
    <a [routerLink]="['/drivers', id, 'personal-information']" [active]="personalInfoActive" cNavLink
        (click)="activateLink('personal-information')"><fa-icon [icon]="faUser"></fa-icon><span
            class="btn-icon">Personal Information</span></a>
    <a [routerLink]="['/drivers', id, 'transactions']" [active]="transactionsActive" cNavLink
        (click)="activateLink('transactions')"><fa-icon [icon]="faMoneyBillTransfer"></fa-icon><span
            class="btn-icon">Transaction</span></a>
</c-nav>

<router-outlet></router-outlet>