spring.datasource.url=jdbc:postgresql://localhost:5432/ridelinker
spring.datasource.username=ridelinker
spring.datasource.password=xxxxxxxxxx

spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

spring.flyway.baselineOnMigrate=true
spring.flyway.cleanDisabled=true

server.error.include-stacktrace=never


hibernate.dialect=org.hibernate.spatial.dialect.postgis.PostgisDialect

secrets.GOOGLE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxx

server.port=8080
server.socketPort=9094
server.host=0.0.0.0