.btn-icon {
  margin-left: 0.5rem;
}

.subtitle {
  margin: 0.9rem 0;
  font-size: large;
  color: #5141e0;
}

.payout-card {
  margin-top: 3rem;
}

.space {
  margin-top: 8rem;
  margin-bottom: 2rem;
}
